<div class="container about-box">
  <div class="plate mx-auto mb-5" id="cork">
   <div class="text-center">   
   
   <br>
  
  <span><strong>About</strong></span>
  <br><br>
  
  <p>
    ながのCAKEは全国発送可能なケーキ屋さんです。<br>
    お子様からお年寄りの方までお召し上がりいただけるよう、<br>
    様々なバリエーションをご用意しております。<br>
    また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
    ぜひご注文ください。
  </p>
  </div>
  <div class="about-img mx-auto"></div>
  <%= image_tag "CAKE3.jpg", size: '1000x400' %>

</div>
